<%- include("./partials/header.ejs") %>

<title>Fruits</title>
  </head>
  <body>
    <h1>Fruits</h1>
    <hr />
    <div id="fruits-container">
      <% fruits.forEach((fruit, i) => { %>
      <div class="fruit">
        <h3 class="fruitName"><%=i+1%>. <%=fruit.fruitName%></h3>
        <p class="fruitReview">Review: <%=fruit.review%></p>
        <br />
      </div>
      <% }) %>
    </div>

    <%- include("./partials/footer.ejs") %>
